div {
    font-size: 45px;
    color: black;
    background-color: coral;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.img {
    padding: 1em;
}

.des {
    font-size: 30px;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#font {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: brown;
}